[run]
source = stdnet
omit =
    *stdnet/apps/searchengine/processors/metaphone.py
    *stdnet/apps/searchengine/processors/porter.py
    *stdnet/utils/fallbacks/*
    *stdnet/apps/columnts/npts.py


[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    (?i)# *pragma[: ]*no *cover
    raise NotImplementedError