include LICENSE
include MANIFEST.in
include README.rst
include CHANGELOG.rst
include requirements.txt
include runtests.py
include docs/make.bat
include docs/Makefile
include docs/source/conf.py
include stdnet/lib/redis/license.txt
include stdnet/dispatch/license.txt
recursive-include vendor *
recursive-include docs *.rst
