include LICENSE
include MANIFEST.in
include README.rst
include CHANGELOG.rst
include docs/make.bat
include docs/Makefile
include docs/source/conf.py
include stdnet/utils/dispatch/license.txt
recursive-include stdnet/lib/lua *.lua
recursive-include lib *.py
recursive-include lib/hiredis *
include lib/src/reader.c
include lib/src/reader.h
include lib/src/hr.pyx
include lib/src/common.pxd
recursive-include docs *.rst
