{% extends "djpcms/yui/yui-g.html" %}{% block left-column %}
<h2>Server</h2>		
<div class="object-definition w40">{% for data in info1 %}
<dl><dt>{{ data.name }}</dt><dd>{{ data.value }}</dd></dl>{% endfor %}{% for data in info2 %}
<dl><dt>{{ data.name }}</dt><dd>{{ data.value }}</dd></dl>{% endfor %}
</div>{% endblock %}{% block right-column %}
<h2>Databases</h2>
<table class="tablesorter">
<thead>
<tr>{% for head in databases.header %}
<th>{{ head }}</th>{% endfor %}
</tr>
</thead>
<tbody>{% for data in databases.body %}
<tr>{% for el in data %}{% if el.class %}
<td class="{{ el.class }}">{{ el.value }}</td>{% else %}
<td>{{ el }}</td>{% endif %}{% endfor %}
</tr>{% endfor %}
</tbody>
</table>{% endblock %}

{% if model_info %}
<table>
<tbody>
<thead>
<tr>{% for h in model_header %}
<th>{{ h }}</th>{% endfor %}
</tr>
</thead>
<tbody>{% for info in model_info %}
<tr>{% for v in info %}
<td>{{ v }}</td>{% endfor %}
</tr>{% endfor %}
</tbody>
</table>{% endif %}


